<ion-header>
    <ion-toolbar>
    	<ion-buttons slot="start">
	      <ion-back-button defaultHref="/app/tabs/tab1/result/1"></ion-back-button>
	    </ion-buttons>
        <ion-title>
            Element
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Business Element</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
          <ion-card-title class="green-color">Water</ion-card-title>
        </ion-card-header>
        <ion-card-content class="black-color">
          លក់ភេសជ្ជះ, ទេសចរណ៍, ក្លិបកំសាន្ត, អ្នកនាំភ្ញៀវទេសចរណ៍, ហាងម៉ាស្សា, នាំចេញនាំចូលក្រៅប្រទេស, សណ្ឋាគារ, បន្ទប់ជួល, ខារ៉ាអូខេ
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="green-color">Metal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          វិស្វករ, មេធាវី, សំណង់អាគារ, ដេគ័រ ឌីស្សាញ, ហាងលក់ថ្នាំពេទ្យ, ហាងផ្កា, រៀបចំសួនផ្កា, គ្រូបង្រៀន, សាលារៀន, លក់គ្រឿងឈេី, ជាងចម្លាក់
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="red-color">Fire</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          លក់គ្រឿងភ្លេីង, គ្រឿងសំអាង, ឧបករណ៍អេឡិចត្រូនិក, តារា, ក្រុមហ៊ុនផ្សព្វផ្សាយ, ទិញលក់ភាគហ៊ុន, ហាងកាហ្វេ, ការ៉ាសសាំង, លក់ហ្គាស, លក់សូឡា
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="red-color">Wood</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          លក់គ្រឿងអល្ល័ង្ការ, វេរលុយ, ដូរលុយ, គ្រឿងដែក, លក់ឥវ៉ាន់ប្រេន
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="red-color">Earth</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          អចលនទ្រព្យ, ភោជនីយ៍ដ្ឋាន, លក់ឥវ៉ាន់រាយ និងបោះដុំ, ធនាគារ, រំលោះ បញ្ចាំ
        </ion-card-content>
      </ion-card>
</ion-content>