<ion-header>
  <ion-toolbar>
    <ion-title>
      People
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">People</ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-list *ngFor="let user of users">
        <ion-item-sliding>
          <ion-item (click)="navigate(user.id)">
            <ion-label>{{user.name}}</ion-label>
            <ion-note slot="end">{{user.dob | date:'shortDate'}} - {{user.time | date:'shortTime'}}</ion-note>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="primary" (click)="edit(user.id)">Edit</ion-item-option>
            <ion-item-option color="danger" (click)="delete(user.id)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
